.search-container {
  border-radius: 8px;
  border: 1.5px solid #424242;;
  height: 72px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0 30px;
}

@media  screen and (max-width: 767px) {
  .search-container {
    height: 56px;
  }
}

.search-input {
  width: 90%;
  margin: 25px;
  color: #8B8B8B;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  background: transparent;
  border: none;
}

@media  screen and (max-width: 767px) {
  .search-input {
    margin: 20px 12px;
    font-size: 14px;
  }
}

.search-button {
  width: 100px;
  border-radius: 5px;
  background-color: #4285F4;
  margin: 10px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
}

@media  screen and (max-width: 767px) {
  .search-button {
    margin: 6px;
    font-size: 14px;
  }
}

.search-button:hover {
  opacity: 0.7;
}

.input-error {
  color: #FF004D;
  font-size: 10px;
}

.search-button-disabled {
  background-color: white;
  color: black;
  cursor: initial;
}

.search-button-disabled:hover {
  opacity: 1;
}