<li class="meetup-item" *ngIf="currentMeetup">
  <div class="about-container">
    <div class="about-container-small">
      <div class="title-container">
        <h3 class="title">{{ currentMeetup.name }}</h3>
        <p class="subscribers">{{ currentMeetup.users.length }} подписчик</p>
      </div>
      <p
        class="short-description"
        [ngClass]="{ 'short-description-hidden': isAccordionOpen }"
      >
        {{ currentMeetup.description }}
      </p>
    </div>
    <div class="meet-container">
      <p class="meet-date">{{ convertData }}</p>
      <p class="meet-place">{{ currentMeetup.location }}</p>
      <p class="meet-place">{{ currentMeetup.duration }} мин.</p>
    </div>
  </div>
  <div
    class="accordion-content"
    [ngClass]="{ 'accordion-content-active': isAccordionOpen }"
  >
    <p class="long-description">
      {{ currentMeetup.description }}
    </p>
    <h5 class="accordion-title">Целевая аудитория</h5>
    <p class="accordion-subtitle">{{ currentMeetup.target_audience }}</p>
    <h5>Что надо знать</h5>
    <ul class="accordion-subtitle list">
      {{
        currentMeetup.need_to_know
      }}
    </ul>
    <h5 class="accordion-title">Что будет</h5>
    <ul class="accordion-subtitle list">
      {{
        currentMeetup.will_happen
      }}
    </ul>
    <h5 class="accordion-title">Почему надо обязательно прийти?</h5>
    <p class="accordion-subtitle">{{ currentMeetup.reason_to_come }}</p>
  </div>
  <div class="author-container-big">
    <div class="author-container">
      <div class="author-icon"></div>
      <p class="author">{{ currentMeetup.owner.fio }}</p>
    </div>
    <div class="button-container">
        <button
        *ngIf="isEditMode"
        class="save-button"
        (click)="deleteMeetup()"
      >
        Удалить
      </button>
      <button
        *ngIf="isEditMode; else saveButton"
        class="save-button"
        (click)="openPopup()"
      >
        Редактировать
      </button>
      <ng-template #saveButton>
      <button
        class="save-button"
        (click)="onSubscribe()"
        [ngClass]="{ 'save-button-active': isButtonActive }"
        [disabled]="isOwner"
      >
        {{ buttonText }}
      </button>
    </ng-template>
      <button
        class="accord-button"
        (click)="toggleAccordion()"
        [ngClass]="{ 'accord-button-rotate': isAccordionOpen }"
      ></button>
    </div>
  </div>
</li>
