<li class="user-item" *ngIf="item">
    <form class="user-form" [formGroup]="form" noValidate (ngSubmit)="onSubmit()">
    <input class="user-email" disabled [value]="item.email">
    <input class="user-password" disabled type=password [value]="item.password">
    <select class="user-role" [disabled]="!isEditing" formControlName="role">
      <option value="user">user</option>
      <option value="admin">admin</option>
    </select>
    <div class="icon-container">
        <button class="edit" (click)="toggleEditing()" *ngIf="!isEditing"></button>
        <button class="edit active" (click)="toggleEditing()" *ngIf="isEditing" type="submit"></button>
        <button class="delete" (click)="deleteMeetup()"></button>
    </div>
</form>
</li>