<li class="user-item" *ngIf="item">
    <input class="user-email" disabled value="{{item.email}}">
    <input class="user-password" disabled type=password value="{{item.password}}">
    <select class="user-role" [disabled]="!isEditing">
      <option value="user">user</option>
      <option value="admin">admin</option>
    </select>
    <div class="icon-container">
        <div class="edit" (click)="toggleEditing()" [ngClass]="{'active': isEditing}"></div>
        <div class="delete" (click)="deleteMeetup()"></div>
    </div>
</li>