.meetups {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}

.meetups-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
}

.add-button {
  width: 150px;
  border-radius: 5px;
  background-color: #4285f4;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin: 0 0 30px auto;
}

.add-button:hover {
  opacity: 0.7;
}
