.user {
  margin: 30px 280px;
  display: flex;
  flex-direction: column;
}

.user-list {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}