<section class="user">
  <ul class="user-list">
    <li class="user-item">
        <input class="user-email" value="outsidious@yandex.ru">
        <input class="user-password" value="*************">
        <select class="user-role">
          <option value="user">user</option>
          <option value="admin">admin</option>
        </select>
        <div class="icon-container">
            <div class="edit"></div>
            <div class="delete"></div>
        </div>
    </li>
  </ul>
  <button class="user-add">Добавить пользователя</button>
</section>
